In [ ]:
class employee:
    emp_id=''
    emp_name=''
    emp_age=''
    salary=''
    phn_no=''
    blood_grp=''
    dept=''
    experience=''

In [6]:
class ug:
    def __init__(self,name,rollno,marks,age):
        self.name=name
        self.__rollno=rollno
        self.age=age
        self.marks=marks
    def get_rollno(self):
        return self.__rollno

class pg(ug):
    def __init__(self,name,rollno,marks,age):
        super().__init__(name,rollno,marks,age)
       
    def display(self):
        print("Name:",self.name)
        print("Roll no",self.get_rollno())
        print("rno",self._ug__rollno)
        print("Marks:",self.marks)
        print("age",self.age)
p=pg("Kruthik",1,100,22)
p.display()

Name: Kruthik
Roll no 1
rno 1
Marks: 100
age 22

In [2]:
class employee:
    def __init__(self,name,salary):
        self._name=name
        self._salary=salary
    def set_salary(self,salary):
        self._salary=salary
    def get_salary(self):
        return self._salary

emp=employee('kruthik',1000)
print("salary before update",emp.get_salary())
emp.set_salary(5000)
print("salary after uodate",emp.get_salary())

salary before update 1000
salary after uodate 5000

In [ ]:
#allowances:["travel","food","medical","insurance"]
#deductions:["pf","tax","insurance"]

class Employee:
    def _init_(self, empid, empname, empsalary, allowances, deductions):
        self.empid = empid
        self.empname = empname
        self.empsalary = empsalary
        self.allowances = allowances
        self.deductions = deductions

    def calculate_salary(self):
        total_allowances = sum(self.allowances)
        total_deductions = sum(self.deductions)
        netsalary = self.empsalary + total_allowances - total_deductions
        return netsalary
    
    def display(self):
        print("Employee ID:", self.empid)
        print("Employee Name:", self.empname)
        print("Employee Salary:", self.empsalary)
        print("Employee Allowances:", self.allowances)
        print("Employee Deductions:", self.deductions)
        print("Employee Net Salary:", self.calculate_salary())

allowances = [1000, 2000, 3000, 4000]
deductions = [500, 1000, 1500]   
emp = Employee(1, "Sriram", 10000, allowances, deductions)
emp.display()